.container{
    height: auto;
    width: 65vw;
    /* background-color: cadetblue; */
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.left{
    width: 23%;
}
.center{
    width: 12%;
    height: 100%;
}
.icon_parent{
    height: 3.2vw;
    width: 3.2vw;
    border-radius: 50%;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.center .icon{
    font-size: 1.5em;
    color: white;
}
.light_line{
    height: 11vw;
    width: 0.5px;
    background-color: rgba(82, 82, 82, 0.486);
    margin: 0 auto;
}
.right{
    width: 65%;
}
.heading{
    text-align: start;
    font-weight: 500;
}
.sub_heading{
    font-weight: 400;
}
.dark_line_desktop{
    height: 3px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1em 0;
}
.dark_line_mobile{
    display: none;
}
.right .para{
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .left{
        width: 100%;
    }
    .left .heading{
        text-align: start;
    }
    .left .sub_heading{
        text-align: start;
    }
    .dark_line_desktop{
        display: none;
    }
    .dark_line_mobile{
        display: block;
        height: 3px;
        width: 50px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 1rem 0;
    }
    .center{
        position: absolute;
        left: 0;
        height: 23rem;
        overflow: hidden;
    }
    .center .light_line{
        height: 220px;
        overflow: hidden;
    }
    .right{
        margin-bottom: 2rem;
        width: 100%;
    }
    .right .para{
        font-size: 1.7rem;
    }
}