.container{
    height: auto;
    width: 65vw;
    /* background-color: cadetblue; */
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.container::before{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -15%;
}
.left{
    width: 23%;
}
.center{
    width: 12%;
    height: 100%;
}
.icon_parent{
    height: 3.2vw;
    width: 3.2vw;
    border-radius: 50%;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
}
.center .icon{
    font-size: 1.5rem;
    color: white;
}
.light_line{
    height: 9.5vw;
    width: 1px;
    background-color: rgba(82, 82, 82, 0.103);
    margin: 0 auto;
}
.right{
    width: 65%;
}
.heading{
    text-align: start;
    font-weight: 500;
    font-size: 2rem;
    color: #313131;
}
.sub_heading{
    font-weight: 400;
    display: inline-block;
    font-size: 1.7rem;
    color: #888888;
}
.dark_line_desktop{
    height: 3px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}
.dark_line_mobile{
    display: none;
}
.right .para{
    font-size: 1.5vw;
    color: #888888;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }
    .left{
        width: 100%;
    }
    .left .heading{
        text-align: start;
    }
    .left .sub_heading{
        text-align: start;
    }
    .dark_line_desktop{
        display: none;
    }
    .dark_line_mobile{
        display: block;
        height: 3px;
        width: 50px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 1rem 0;
    }
    .center{
        position: absolute;
        left: -21%;
        height: 100%;
        /* overflow: hidden; */
    }
    .center .icon_parent{
        height: 3.5rem;
        width: 3.5rem;
    }
    .center .icon{
        height: 1.5rem;
        width: 1.5rem;
    }
    .center .light_line{
        /* height: 220px;
        overflow: hidden; */
        display: none;
    }
    .right{
        margin-bottom: 3rem;
        width: 100%;
    }
    .right .para{
        font-size: 1.7rem;
    }
}