.container{
    height: auto;
    width: 100%;
    background-color: #EBEBEB;
    padding: 5vw 0;
}
.heading{
    text-align: center;
    font-size: 1.4vw;
    text-transform: uppercase;
    line-height: 1vw;
    letter-spacing: 0.15em;
    color: #cc005f;
    font-family: 'Poppins', sans-serif;
}
.sub_heading{
    text-align: center;
    font-size: 2.5vw;
    line-height: 2vw;
    padding: 2vw 0;
}
.para{
    text-align: center;
    font-size: 1.8vw;
    color: rgba(82, 80, 80, 0.692);
    width: 50vw;
    margin: 0 auto;
    line-height: 3vw;
}
.heading_secondary{
    color: #cc005f;
    font-size: 1.8vw;
    padding: 3.5vw 0;
    line-height: 3vw;
    letter-spacing: 0.10em;
    font-weight: 600;
}