.container {
  height: auto;
  width: 100%;
  background-color: white;
}
.main_section {
  padding-top: 5vw;
}
.heading {
  color: #cc005f;
  font-size: 1.5vw;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  line-height: 2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.sub_heading {
  font-size: 2.5vw;
  text-align: center;
  line-height: 5vw;
  font-family: "poppins", serif;
  font-weight: 400;
}
.intro {
  height: auto;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5vw auto;
}
.image {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  /* padding: 2em 4em; */
}
.intro .para {
  font-size: 1.7vw;
  line-height: 2.3vw;
  color: rgba(82, 80, 80, 0.692);
  padding: 0 3vw;
  font-family: "lora-regular", serif;
}
.description {
  height: auto;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2vw;
  /* background-color: blanchedalmond; */
}
.profile {
  width: 50%;
  /* background-color: blanchedalmond; */
}
.profile .heading_secondary {
  list-style-type: none;
  font-size: 1.35vw;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.profile .sub_heading {
  font-size: 1vw;
  color: rgb(94, 93, 93);
  list-style-type: none;
  text-align: start;
  line-height: 2vw;
  font-weight: 300;
  margin-bottom: 1vw;
}
.skills {
  width: 38%;
  padding-bottom: 4vw;
}
.description .para {
  font-size: 1.5vw;
  text-align: start;
  padding: 1.5vw 0;
  color: rgba(82, 80, 80, 0.692);
}
.description .heading {
  text-align: start;
  color: rgb(53, 53, 53);
}
.icon_parent {
  list-style-type: none;
  font-size: 1.2vw;
  padding: 0.5vw 1vw;
  display: flex;
  align-items: center;
  margin: 0.6vw 0;
  width: 15vw;
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(138, 138, 138, 0.37);
}
.skill {
  font-size: 1.5vw;
  line-height: 2vw;
  color: rgb(97, 97, 97);
  margin-left: 1.2vw;
}
.icon {
  color: rgb(98, 98, 98);
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
    margin: 1.2rem;
  }
  .sub_heading {
    font-size: 2.6rem;
    margin: 1rem;
  }
  .image{
    height: 12rem;
    width: 12rem;
    margin: 1rem;
  }
  .intro {
    flex-direction: column;
    width: 100%;
  }
  .intro .para {
    font-size: 1.7rem;
    padding: 0 5vw;
    line-height: 3rem;
    text-align: center;
    /* letter-spacing: 0.8px; */
  }
  .description {
    flex-direction: column;
    width: 100%;
  }
  .profile {
    width: 100%;
  }
  .list {
    margin-left: 4rem;
  }
  .profile .heading {
    text-align: center;
  }
  .profile .para {
    text-align: center;
    font-size: 1.7rem;
  }
  .profile .heading_secondary {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .profile .sub_heading {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
  }
  .skills {
    width: 100%;
  }
  .skills .heading {
    text-align: center;
    margin: 1rem;
  }
  .skills .para {
    text-align: center;
    font-size: 1.7rem;
  }
  .icon_parent{
    width: 85%;
    font-size: 3rem;
    margin: 0.8rem auto;
    padding: 1rem 3rem;
  }
  .skill{
    font-size: 1.7rem;
    margin-left: 2rem;
  }
}
